---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Web Frontend Jr.",
    company: "Dentarios",
    description:
      "Mis actividades principales incluyen la creación y el mantenimiento de sitios web. Utilizo lenguajes como HTML, CSS y JavaScript. Trabajo con diversos frameworks como React y Astro para desarrollar aplicaciones web dinámicas y funcionales. Me familiaricé con el uso de Tailwind CSS para agilizar el proceso de diseño y desarrollo de estilos",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
